@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
body {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

a {
  text-decoration: none;
}

.text-blue {
  color: #278bfd;
  transition: 0.3s;
}

.text-hover-blue:hover {
  color: #278bfd;
}

.text-yellow {
  color: #ffff6c;
  transition: 0.3s;
}

.text-orange {
  color: #fabd4c;
  transition: 0.3s;
}

.text-pink {
  color: pink;
  transition: 0.3s;
}

.text-purple {
  color: #ca4aca;
  transition: 0.3s;
}

.text-purple-light-1 {
  color: #cf5ccf;
}

.text-purple-light-2 {
  color: #d56ed5;
}

.text-purple-light-3 {
  color: #da80da;
}

.text-purple-light-4 {
  color: #df92df;
}

.text-purple-light-5 {
  color: #e5a5e5;
}

.text-purple-light-6 {
  color: #eab7ea;
}

.text-purple-light-7 {
  color: #efc9ef;
}

.text-purple-light-8 {
  color: #f4dbf4;
}

.text-purple-light-9 {
  color: #faedfa;
}

.text-purple-dark-1 {
  color: #b643b6;
}

.text-purple-dark-2 {
  color: #a23ba2;
}

.text-purple-dark-3 {
  color: #8d348d;
}

.text-purple-dark-4 {
  color: #792c79;
}

.text-purple-dark-5 {
  color: #652565;
}

.text-purple-dark-6 {
  color: #511e51;
}

.text-purple-dark-7 {
  color: #3d163d;
}

.text-purple-dark-8 {
  color: #280f28;
}

.text-purple-dark-9 {
  color: #140714;
}

.card {
  display: block;
  border-radius: 5px;
  background-color: #f5eded;
  color: #333333;
  box-shadow: 1px 1px 5px rgba(41, 41, 41, 0.24);
  padding: 0.75rem;
}
.card .card-title {
  font-size: 1.5rem;
  font-weight: bold;
}
.card .card-body {
  font-size: 1rem;
}
.card .card-body a {
  color: #740303;
  text-decoration: underline;
}

.btn {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 10px;
  background-color: #e2e2e2;
  transition: 0.3s;
}
.btn:hover {
  background-color: #d0d0d0;
}

.btn-outline-blue {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 10px;
  background-color: white;
  transition: 0.3s;
  border: 1px solid #278bfd;
}
.btn-outline-blue:hover {
  background-color: #278bfd;
}

.btn-complement-blue {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 10px;
  background-color: #278bfd;
  transition: 0.3s;
  color: #fda540;
}
.btn-complement-blue:hover {
  color: #278bfd;
  background-color: #fda540;
}

.btn-orange {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 10px;
  background-color: #fabd4c;
  transition: 0.3s;
}
.btn-orange:hover {
  background-color: #f9ab1a;
}

h1 {
  color: #333333;
}