@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
body {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

ul {
  padding: 0;
  list-style-type: none;
}

img {
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

hr {
  border: 0;
  border-top: 1px dotted #efefef;
}

.text-primary {
  color: #f5eded;
  transition: 0.3s;
}

.text-hover-primary:hover {
  color: #f5eded;
}

.bg-primary {
  background-color: #f5eded;
}

.bg-hover-primary:hover {
  background-color: #f5eded;
}

.text-primary-light-1 {
  color: #f6efef;
}

.text-hover-primary-light-1:hover {
  color: #f5eded;
}

.bg-primary-light-1 {
  background-color: #f6efef;
}

.bg-hover-primary-light-1:hover {
  background-color: #f5eded;
}

.text-primary-light-2 {
  color: #f7f1f1;
}

.text-hover-primary-light-2:hover {
  color: #f5eded;
}

.bg-primary-light-2 {
  background-color: #f7f1f1;
}

.bg-hover-primary-light-2:hover {
  background-color: #f5eded;
}

.text-primary-light-3 {
  color: #f8f2f2;
}

.text-hover-primary-light-3:hover {
  color: #f5eded;
}

.bg-primary-light-3 {
  background-color: #f8f2f2;
}

.bg-hover-primary-light-3:hover {
  background-color: #f5eded;
}

.text-primary-light-4 {
  color: #f9f4f4;
}

.text-hover-primary-light-4:hover {
  color: #f5eded;
}

.bg-primary-light-4 {
  background-color: #f9f4f4;
}

.bg-hover-primary-light-4:hover {
  background-color: #f5eded;
}

.text-primary-light-5 {
  color: #faf6f6;
}

.text-hover-primary-light-5:hover {
  color: #f5eded;
}

.bg-primary-light-5 {
  background-color: #faf6f6;
}

.bg-hover-primary-light-5:hover {
  background-color: #f5eded;
}

.text-primary-light-6 {
  color: #fbf8f8;
}

.text-hover-primary-light-6:hover {
  color: #f5eded;
}

.bg-primary-light-6 {
  background-color: #fbf8f8;
}

.bg-hover-primary-light-6:hover {
  background-color: #f5eded;
}

.text-primary-light-7 {
  color: #fcfafa;
}

.text-hover-primary-light-7:hover {
  color: #f5eded;
}

.bg-primary-light-7 {
  background-color: #fcfafa;
}

.bg-hover-primary-light-7:hover {
  background-color: #f5eded;
}

.text-primary-light-8 {
  color: #fdfbfb;
}

.text-hover-primary-light-8:hover {
  color: #f5eded;
}

.bg-primary-light-8 {
  background-color: #fdfbfb;
}

.bg-hover-primary-light-8:hover {
  background-color: #f5eded;
}

.text-primary-light-9 {
  color: #fefdfd;
}

.text-hover-primary-light-9:hover {
  color: #f5eded;
}

.bg-primary-light-9 {
  background-color: #fefdfd;
}

.bg-hover-primary-light-9:hover {
  background-color: #f5eded;
}

.text-primary-dark-1 {
  color: #ddd5d5;
}

.bg-primary-dark-1 {
  background-color: #ddd5d5;
}

.text-primary-dark-2 {
  color: #c4bebe;
}

.bg-primary-dark-2 {
  background-color: #c4bebe;
}

.text-primary-dark-3 {
  color: #aca6a6;
}

.bg-primary-dark-3 {
  background-color: #aca6a6;
}

.text-primary-dark-4 {
  color: #938e8e;
}

.bg-primary-dark-4 {
  background-color: #938e8e;
}

.text-primary-dark-5 {
  color: #7b7777;
}

.bg-primary-dark-5 {
  background-color: #7b7777;
}

.text-primary-dark-6 {
  color: #625f5f;
}

.bg-primary-dark-6 {
  background-color: #625f5f;
}

.text-primary-dark-7 {
  color: #4a4747;
}

.bg-primary-dark-7 {
  background-color: #4a4747;
}

.text-primary-dark-8 {
  color: #312f2f;
}

.bg-primary-dark-8 {
  background-color: #312f2f;
}

.text-primary-dark-9 {
  color: #191818;
}

.bg-primary-dark-9 {
  background-color: #191818;
}

.text-scondary {
  color: #3e3636;
  transition: 0.3s;
}

.text-hover-scondary:hover {
  color: #3e3636;
}

.bg-scondary {
  background-color: #3e3636;
}

.bg-hover-scondary:hover {
  background-color: #3e3636;
}

.text-scondary-light-1 {
  color: #514a4a;
}

.text-hover-scondary-light-1:hover {
  color: #3e3636;
}

.bg-scondary-light-1 {
  background-color: #514a4a;
}

.bg-hover-scondary-light-1:hover {
  background-color: #3e3636;
}

.text-scondary-light-2 {
  color: #655e5e;
}

.text-hover-scondary-light-2:hover {
  color: #3e3636;
}

.bg-scondary-light-2 {
  background-color: #655e5e;
}

.bg-hover-scondary-light-2:hover {
  background-color: #3e3636;
}

.text-scondary-light-3 {
  color: #787272;
}

.text-hover-scondary-light-3:hover {
  color: #3e3636;
}

.bg-scondary-light-3 {
  background-color: #787272;
}

.bg-hover-scondary-light-3:hover {
  background-color: #3e3636;
}

.text-scondary-light-4 {
  color: #8b8686;
}

.text-hover-scondary-light-4:hover {
  color: #3e3636;
}

.bg-scondary-light-4 {
  background-color: #8b8686;
}

.bg-hover-scondary-light-4:hover {
  background-color: #3e3636;
}

.text-scondary-light-5 {
  color: #9f9b9b;
}

.text-hover-scondary-light-5:hover {
  color: #3e3636;
}

.bg-scondary-light-5 {
  background-color: #9f9b9b;
}

.bg-hover-scondary-light-5:hover {
  background-color: #3e3636;
}

.text-scondary-light-6 {
  color: #b2afaf;
}

.text-hover-scondary-light-6:hover {
  color: #3e3636;
}

.bg-scondary-light-6 {
  background-color: #b2afaf;
}

.bg-hover-scondary-light-6:hover {
  background-color: #3e3636;
}

.text-scondary-light-7 {
  color: #c5c3c3;
}

.text-hover-scondary-light-7:hover {
  color: #3e3636;
}

.bg-scondary-light-7 {
  background-color: #c5c3c3;
}

.bg-hover-scondary-light-7:hover {
  background-color: #3e3636;
}

.text-scondary-light-8 {
  color: #d8d7d7;
}

.text-hover-scondary-light-8:hover {
  color: #3e3636;
}

.bg-scondary-light-8 {
  background-color: #d8d7d7;
}

.bg-hover-scondary-light-8:hover {
  background-color: #3e3636;
}

.text-scondary-light-9 {
  color: #ecebeb;
}

.text-hover-scondary-light-9:hover {
  color: #3e3636;
}

.bg-scondary-light-9 {
  background-color: #ecebeb;
}

.bg-hover-scondary-light-9:hover {
  background-color: #3e3636;
}

.text-scondary-dark-1 {
  color: #383131;
}

.bg-scondary-dark-1 {
  background-color: #383131;
}

.text-scondary-dark-2 {
  color: #322b2b;
}

.bg-scondary-dark-2 {
  background-color: #322b2b;
}

.text-scondary-dark-3 {
  color: #2b2626;
}

.bg-scondary-dark-3 {
  background-color: #2b2626;
}

.text-scondary-dark-4 {
  color: #252020;
}

.bg-scondary-dark-4 {
  background-color: #252020;
}

.text-scondary-dark-5 {
  color: #1f1b1b;
}

.bg-scondary-dark-5 {
  background-color: #1f1b1b;
}

.text-scondary-dark-6 {
  color: #191616;
}

.bg-scondary-dark-6 {
  background-color: #191616;
}

.text-scondary-dark-7 {
  color: #131010;
}

.bg-scondary-dark-7 {
  background-color: #131010;
}

.text-scondary-dark-8 {
  color: #0c0b0b;
}

.bg-scondary-dark-8 {
  background-color: #0c0b0b;
}

.text-scondary-dark-9 {
  color: #060505;
}

.bg-scondary-dark-9 {
  background-color: #060505;
}

.text-accent {
  color: #740303;
  transition: 0.3s;
}

.text-hover-accent:hover {
  color: #740303;
}

.bg-accent {
  background-color: #740303;
}

.bg-hover-accent:hover {
  background-color: #740303;
}

.text-accent-light-1 {
  color: #821c1c;
}

.text-hover-accent-light-1:hover {
  color: #740303;
}

.bg-accent-light-1 {
  background-color: #821c1c;
}

.bg-hover-accent-light-1:hover {
  background-color: #740303;
}

.text-accent-light-2 {
  color: #903535;
}

.text-hover-accent-light-2:hover {
  color: #740303;
}

.bg-accent-light-2 {
  background-color: #903535;
}

.bg-hover-accent-light-2:hover {
  background-color: #740303;
}

.text-accent-light-3 {
  color: #9e4f4f;
}

.text-hover-accent-light-3:hover {
  color: #740303;
}

.bg-accent-light-3 {
  background-color: #9e4f4f;
}

.bg-hover-accent-light-3:hover {
  background-color: #740303;
}

.text-accent-light-4 {
  color: #ac6868;
}

.text-hover-accent-light-4:hover {
  color: #740303;
}

.bg-accent-light-4 {
  background-color: #ac6868;
}

.bg-hover-accent-light-4:hover {
  background-color: #740303;
}

.text-accent-light-5 {
  color: #ba8181;
}

.text-hover-accent-light-5:hover {
  color: #740303;
}

.bg-accent-light-5 {
  background-color: #ba8181;
}

.bg-hover-accent-light-5:hover {
  background-color: #740303;
}

.text-accent-light-6 {
  color: #c79a9a;
}

.text-hover-accent-light-6:hover {
  color: #740303;
}

.bg-accent-light-6 {
  background-color: #c79a9a;
}

.bg-hover-accent-light-6:hover {
  background-color: #740303;
}

.text-accent-light-7 {
  color: #d5b3b3;
}

.text-hover-accent-light-7:hover {
  color: #740303;
}

.bg-accent-light-7 {
  background-color: #d5b3b3;
}

.bg-hover-accent-light-7:hover {
  background-color: #740303;
}

.text-accent-light-8 {
  color: #e3cdcd;
}

.text-hover-accent-light-8:hover {
  color: #740303;
}

.bg-accent-light-8 {
  background-color: #e3cdcd;
}

.bg-hover-accent-light-8:hover {
  background-color: #740303;
}

.text-accent-light-9 {
  color: #f1e6e6;
}

.text-hover-accent-light-9:hover {
  color: #740303;
}

.bg-accent-light-9 {
  background-color: #f1e6e6;
}

.bg-hover-accent-light-9:hover {
  background-color: #740303;
}

.text-accent-dark-1 {
  color: #680303;
}

.bg-accent-dark-1 {
  background-color: #680303;
}

.text-accent-dark-2 {
  color: #5d0202;
}

.bg-accent-dark-2 {
  background-color: #5d0202;
}

.text-accent-dark-3 {
  color: #510202;
}

.bg-accent-dark-3 {
  background-color: #510202;
}

.text-accent-dark-4 {
  color: #460202;
}

.bg-accent-dark-4 {
  background-color: #460202;
}

.text-accent-dark-5 {
  color: #3a0202;
}

.bg-accent-dark-5 {
  background-color: #3a0202;
}

.text-accent-dark-6 {
  color: #2e0101;
}

.bg-accent-dark-6 {
  background-color: #2e0101;
}

.text-accent-dark-7 {
  color: #230101;
}

.bg-accent-dark-7 {
  background-color: #230101;
}

.text-accent-dark-8 {
  color: #170101;
}

.bg-accent-dark-8 {
  background-color: #170101;
}

.text-accent-dark-9 {
  color: #0c0000;
}

.bg-accent-dark-9 {
  background-color: #0c0000;
}

.text-text {
  color: #333333;
  transition: 0.3s;
}

.text-hover-text:hover {
  color: #333333;
}

.bg-text {
  background-color: #333333;
}

.bg-hover-text:hover {
  background-color: #333333;
}

.text-text-light-1 {
  color: #474747;
}

.text-hover-text-light-1:hover {
  color: #333333;
}

.bg-text-light-1 {
  background-color: #474747;
}

.bg-hover-text-light-1:hover {
  background-color: #333333;
}

.text-text-light-2 {
  color: #5c5c5c;
}

.text-hover-text-light-2:hover {
  color: #333333;
}

.bg-text-light-2 {
  background-color: #5c5c5c;
}

.bg-hover-text-light-2:hover {
  background-color: #333333;
}

.text-text-light-3 {
  color: #707070;
}

.text-hover-text-light-3:hover {
  color: #333333;
}

.bg-text-light-3 {
  background-color: #707070;
}

.bg-hover-text-light-3:hover {
  background-color: #333333;
}

.text-text-light-4 {
  color: #858585;
}

.text-hover-text-light-4:hover {
  color: #333333;
}

.bg-text-light-4 {
  background-color: #858585;
}

.bg-hover-text-light-4:hover {
  background-color: #333333;
}

.text-text-light-5 {
  color: #999999;
}

.text-hover-text-light-5:hover {
  color: #333333;
}

.bg-text-light-5 {
  background-color: #999999;
}

.bg-hover-text-light-5:hover {
  background-color: #333333;
}

.text-text-light-6 {
  color: #adadad;
}

.text-hover-text-light-6:hover {
  color: #333333;
}

.bg-text-light-6 {
  background-color: #adadad;
}

.bg-hover-text-light-6:hover {
  background-color: #333333;
}

.text-text-light-7 {
  color: #c2c2c2;
}

.text-hover-text-light-7:hover {
  color: #333333;
}

.bg-text-light-7 {
  background-color: #c2c2c2;
}

.bg-hover-text-light-7:hover {
  background-color: #333333;
}

.text-text-light-8 {
  color: #d6d6d6;
}

.text-hover-text-light-8:hover {
  color: #333333;
}

.bg-text-light-8 {
  background-color: #d6d6d6;
}

.bg-hover-text-light-8:hover {
  background-color: #333333;
}

.text-text-light-9 {
  color: #ebebeb;
}

.text-hover-text-light-9:hover {
  color: #333333;
}

.bg-text-light-9 {
  background-color: #ebebeb;
}

.bg-hover-text-light-9:hover {
  background-color: #333333;
}

.text-text-dark-1 {
  color: #2e2e2e;
}

.bg-text-dark-1 {
  background-color: #2e2e2e;
}

.text-text-dark-2 {
  color: #292929;
}

.bg-text-dark-2 {
  background-color: #292929;
}

.text-text-dark-3 {
  color: #242424;
}

.bg-text-dark-3 {
  background-color: #242424;
}

.text-text-dark-4 {
  color: #1f1f1f;
}

.bg-text-dark-4 {
  background-color: #1f1f1f;
}

.text-text-dark-5 {
  color: #1a1a1a;
}

.bg-text-dark-5 {
  background-color: #1a1a1a;
}

.text-text-dark-6 {
  color: #141414;
}

.bg-text-dark-6 {
  background-color: #141414;
}

.text-text-dark-7 {
  color: #0f0f0f;
}

.bg-text-dark-7 {
  background-color: #0f0f0f;
}

.text-text-dark-8 {
  color: #0a0a0a;
}

.bg-text-dark-8 {
  background-color: #0a0a0a;
}

.text-text-dark-9 {
  color: #050505;
}

.bg-text-dark-9 {
  background-color: #050505;
}

.text-blue {
  color: #278bfd;
  transition: 0.3s;
}

.text-hover-blue:hover {
  color: #278bfd;
}

.bg-blue {
  background-color: #278bfd;
}

.bg-hover-blue:hover {
  background-color: #278bfd;
}

.text-blue-light-1 {
  color: #3d97fd;
}

.text-hover-blue-light-1:hover {
  color: #278bfd;
}

.bg-blue-light-1 {
  background-color: #3d97fd;
}

.bg-hover-blue-light-1:hover {
  background-color: #278bfd;
}

.text-blue-light-2 {
  color: #52a2fd;
}

.text-hover-blue-light-2:hover {
  color: #278bfd;
}

.bg-blue-light-2 {
  background-color: #52a2fd;
}

.bg-hover-blue-light-2:hover {
  background-color: #278bfd;
}

.text-blue-light-3 {
  color: #68aefe;
}

.text-hover-blue-light-3:hover {
  color: #278bfd;
}

.bg-blue-light-3 {
  background-color: #68aefe;
}

.bg-hover-blue-light-3:hover {
  background-color: #278bfd;
}

.text-blue-light-4 {
  color: #7db9fe;
}

.text-hover-blue-light-4:hover {
  color: #278bfd;
}

.bg-blue-light-4 {
  background-color: #7db9fe;
}

.bg-hover-blue-light-4:hover {
  background-color: #278bfd;
}

.text-blue-light-5 {
  color: #93c5fe;
}

.text-hover-blue-light-5:hover {
  color: #278bfd;
}

.bg-blue-light-5 {
  background-color: #93c5fe;
}

.bg-hover-blue-light-5:hover {
  background-color: #278bfd;
}

.text-blue-light-6 {
  color: #a9d1fe;
}

.text-hover-blue-light-6:hover {
  color: #278bfd;
}

.bg-blue-light-6 {
  background-color: #a9d1fe;
}

.bg-hover-blue-light-6:hover {
  background-color: #278bfd;
}

.text-blue-light-7 {
  color: #bedcfe;
}

.text-hover-blue-light-7:hover {
  color: #278bfd;
}

.bg-blue-light-7 {
  background-color: #bedcfe;
}

.bg-hover-blue-light-7:hover {
  background-color: #278bfd;
}

.text-blue-light-8 {
  color: #d4e8ff;
}

.text-hover-blue-light-8:hover {
  color: #278bfd;
}

.bg-blue-light-8 {
  background-color: #d4e8ff;
}

.bg-hover-blue-light-8:hover {
  background-color: #278bfd;
}

.text-blue-light-9 {
  color: #e9f3ff;
}

.text-hover-blue-light-9:hover {
  color: #278bfd;
}

.bg-blue-light-9 {
  background-color: #e9f3ff;
}

.bg-hover-blue-light-9:hover {
  background-color: #278bfd;
}

.text-blue-dark-1 {
  color: #237de4;
}

.bg-blue-dark-1 {
  background-color: #237de4;
}

.text-blue-dark-2 {
  color: #1f6fca;
}

.bg-blue-dark-2 {
  background-color: #1f6fca;
}

.text-blue-dark-3 {
  color: #1b61b1;
}

.bg-blue-dark-3 {
  background-color: #1b61b1;
}

.text-blue-dark-4 {
  color: #175398;
}

.bg-blue-dark-4 {
  background-color: #175398;
}

.text-blue-dark-5 {
  color: #14467f;
}

.bg-blue-dark-5 {
  background-color: #14467f;
}

.text-blue-dark-6 {
  color: #103865;
}

.bg-blue-dark-6 {
  background-color: #103865;
}

.text-blue-dark-7 {
  color: #0c2a4c;
}

.bg-blue-dark-7 {
  background-color: #0c2a4c;
}

.text-blue-dark-8 {
  color: #081c33;
}

.bg-blue-dark-8 {
  background-color: #081c33;
}

.text-blue-dark-9 {
  color: #040e19;
}

.bg-blue-dark-9 {
  background-color: #040e19;
}

.text-green {
  color: #70cc4c;
  transition: 0.3s;
}

.text-hover-green:hover {
  color: #70cc4c;
}

.bg-green {
  background-color: #70cc4c;
}

.bg-hover-green:hover {
  background-color: #70cc4c;
}

.text-green-light-1 {
  color: #7ed15e;
}

.text-hover-green-light-1:hover {
  color: #70cc4c;
}

.bg-green-light-1 {
  background-color: #7ed15e;
}

.bg-hover-green-light-1:hover {
  background-color: #70cc4c;
}

.text-green-light-2 {
  color: #8dd670;
}

.text-hover-green-light-2:hover {
  color: #70cc4c;
}

.bg-green-light-2 {
  background-color: #8dd670;
}

.bg-hover-green-light-2:hover {
  background-color: #70cc4c;
}

.text-green-light-3 {
  color: #9bdb82;
}

.text-hover-green-light-3:hover {
  color: #70cc4c;
}

.bg-green-light-3 {
  background-color: #9bdb82;
}

.bg-hover-green-light-3:hover {
  background-color: #70cc4c;
}

.text-green-light-4 {
  color: #a9e094;
}

.text-hover-green-light-4:hover {
  color: #70cc4c;
}

.bg-green-light-4 {
  background-color: #a9e094;
}

.bg-hover-green-light-4:hover {
  background-color: #70cc4c;
}

.text-green-light-5 {
  color: #b8e6a6;
}

.text-hover-green-light-5:hover {
  color: #70cc4c;
}

.bg-green-light-5 {
  background-color: #b8e6a6;
}

.bg-hover-green-light-5:hover {
  background-color: #70cc4c;
}

.text-green-light-6 {
  color: #c6ebb7;
}

.text-hover-green-light-6:hover {
  color: #70cc4c;
}

.bg-green-light-6 {
  background-color: #c6ebb7;
}

.bg-hover-green-light-6:hover {
  background-color: #70cc4c;
}

.text-green-light-7 {
  color: #d4f0c9;
}

.text-hover-green-light-7:hover {
  color: #70cc4c;
}

.bg-green-light-7 {
  background-color: #d4f0c9;
}

.bg-hover-green-light-7:hover {
  background-color: #70cc4c;
}

.text-green-light-8 {
  color: #e2f5db;
}

.text-hover-green-light-8:hover {
  color: #70cc4c;
}

.bg-green-light-8 {
  background-color: #e2f5db;
}

.bg-hover-green-light-8:hover {
  background-color: #70cc4c;
}

.text-green-light-9 {
  color: #f1faed;
}

.text-hover-green-light-9:hover {
  color: #70cc4c;
}

.bg-green-light-9 {
  background-color: #f1faed;
}

.bg-hover-green-light-9:hover {
  background-color: #70cc4c;
}

.text-green-dark-1 {
  color: #65b844;
}

.bg-green-dark-1 {
  background-color: #65b844;
}

.text-green-dark-2 {
  color: #5aa33d;
}

.bg-green-dark-2 {
  background-color: #5aa33d;
}

.text-green-dark-3 {
  color: #4e8f35;
}

.bg-green-dark-3 {
  background-color: #4e8f35;
}

.text-green-dark-4 {
  color: #437a2e;
}

.bg-green-dark-4 {
  background-color: #437a2e;
}

.text-green-dark-5 {
  color: #386626;
}

.bg-green-dark-5 {
  background-color: #386626;
}

.text-green-dark-6 {
  color: #2d521e;
}

.bg-green-dark-6 {
  background-color: #2d521e;
}

.text-green-dark-7 {
  color: #223d17;
}

.bg-green-dark-7 {
  background-color: #223d17;
}

.text-green-dark-8 {
  color: #16290f;
}

.bg-green-dark-8 {
  background-color: #16290f;
}

.text-green-dark-9 {
  color: #0b1408;
}

.bg-green-dark-9 {
  background-color: #0b1408;
}

.text-yellow {
  color: #ffff6c;
  transition: 0.3s;
}

.text-hover-yellow:hover {
  color: #ffff6c;
}

.bg-yellow {
  background-color: #ffff6c;
}

.bg-hover-yellow:hover {
  background-color: #ffff6c;
}

.text-yellow-light-1 {
  color: #ffff7b;
}

.text-hover-yellow-light-1:hover {
  color: #ffff6c;
}

.bg-yellow-light-1 {
  background-color: #ffff7b;
}

.bg-hover-yellow-light-1:hover {
  background-color: #ffff6c;
}

.text-yellow-light-2 {
  color: #ffff89;
}

.text-hover-yellow-light-2:hover {
  color: #ffff6c;
}

.bg-yellow-light-2 {
  background-color: #ffff89;
}

.bg-hover-yellow-light-2:hover {
  background-color: #ffff6c;
}

.text-yellow-light-3 {
  color: #ffff98;
}

.text-hover-yellow-light-3:hover {
  color: #ffff6c;
}

.bg-yellow-light-3 {
  background-color: #ffff98;
}

.bg-hover-yellow-light-3:hover {
  background-color: #ffff6c;
}

.text-yellow-light-4 {
  color: #ffffa7;
}

.text-hover-yellow-light-4:hover {
  color: #ffff6c;
}

.bg-yellow-light-4 {
  background-color: #ffffa7;
}

.bg-hover-yellow-light-4:hover {
  background-color: #ffff6c;
}

.text-yellow-light-5 {
  color: #ffffb6;
}

.text-hover-yellow-light-5:hover {
  color: #ffff6c;
}

.bg-yellow-light-5 {
  background-color: #ffffb6;
}

.bg-hover-yellow-light-5:hover {
  background-color: #ffff6c;
}

.text-yellow-light-6 {
  color: #ffffc4;
}

.text-hover-yellow-light-6:hover {
  color: #ffff6c;
}

.bg-yellow-light-6 {
  background-color: #ffffc4;
}

.bg-hover-yellow-light-6:hover {
  background-color: #ffff6c;
}

.text-yellow-light-7 {
  color: #ffffd3;
}

.text-hover-yellow-light-7:hover {
  color: #ffff6c;
}

.bg-yellow-light-7 {
  background-color: #ffffd3;
}

.bg-hover-yellow-light-7:hover {
  background-color: #ffff6c;
}

.text-yellow-light-8 {
  color: #ffffe2;
}

.text-hover-yellow-light-8:hover {
  color: #ffff6c;
}

.bg-yellow-light-8 {
  background-color: #ffffe2;
}

.bg-hover-yellow-light-8:hover {
  background-color: #ffff6c;
}

.text-yellow-light-9 {
  color: ivory;
}

.text-hover-yellow-light-9:hover {
  color: #ffff6c;
}

.bg-yellow-light-9 {
  background-color: ivory;
}

.bg-hover-yellow-light-9:hover {
  background-color: #ffff6c;
}

.text-yellow-dark-1 {
  color: #e6e661;
}

.bg-yellow-dark-1 {
  background-color: #e6e661;
}

.text-yellow-dark-2 {
  color: #cccc56;
}

.bg-yellow-dark-2 {
  background-color: #cccc56;
}

.text-yellow-dark-3 {
  color: #b3b34c;
}

.bg-yellow-dark-3 {
  background-color: #b3b34c;
}

.text-yellow-dark-4 {
  color: #999941;
}

.bg-yellow-dark-4 {
  background-color: #999941;
}

.text-yellow-dark-5 {
  color: #808036;
}

.bg-yellow-dark-5 {
  background-color: #808036;
}

.text-yellow-dark-6 {
  color: #66662b;
}

.bg-yellow-dark-6 {
  background-color: #66662b;
}

.text-yellow-dark-7 {
  color: #4d4d20;
}

.bg-yellow-dark-7 {
  background-color: #4d4d20;
}

.text-yellow-dark-8 {
  color: #333316;
}

.bg-yellow-dark-8 {
  background-color: #333316;
}

.text-yellow-dark-9 {
  color: #1a1a0b;
}

.bg-yellow-dark-9 {
  background-color: #1a1a0b;
}

.text-orange {
  color: #fabd4c;
  transition: 0.3s;
}

.text-hover-orange:hover {
  color: #fabd4c;
}

.bg-orange {
  background-color: #fabd4c;
}

.bg-hover-orange:hover {
  background-color: #fabd4c;
}

.text-orange-light-1 {
  color: #fbc45e;
}

.text-hover-orange-light-1:hover {
  color: #fabd4c;
}

.bg-orange-light-1 {
  background-color: #fbc45e;
}

.bg-hover-orange-light-1:hover {
  background-color: #fabd4c;
}

.text-orange-light-2 {
  color: #fbca70;
}

.text-hover-orange-light-2:hover {
  color: #fabd4c;
}

.bg-orange-light-2 {
  background-color: #fbca70;
}

.bg-hover-orange-light-2:hover {
  background-color: #fabd4c;
}

.text-orange-light-3 {
  color: #fcd182;
}

.text-hover-orange-light-3:hover {
  color: #fabd4c;
}

.bg-orange-light-3 {
  background-color: #fcd182;
}

.bg-hover-orange-light-3:hover {
  background-color: #fabd4c;
}

.text-orange-light-4 {
  color: #fcd794;
}

.text-hover-orange-light-4:hover {
  color: #fabd4c;
}

.bg-orange-light-4 {
  background-color: #fcd794;
}

.bg-hover-orange-light-4:hover {
  background-color: #fabd4c;
}

.text-orange-light-5 {
  color: #fddea6;
}

.text-hover-orange-light-5:hover {
  color: #fabd4c;
}

.bg-orange-light-5 {
  background-color: #fddea6;
}

.bg-hover-orange-light-5:hover {
  background-color: #fabd4c;
}

.text-orange-light-6 {
  color: #fde5b7;
}

.text-hover-orange-light-6:hover {
  color: #fabd4c;
}

.bg-orange-light-6 {
  background-color: #fde5b7;
}

.bg-hover-orange-light-6:hover {
  background-color: #fabd4c;
}

.text-orange-light-7 {
  color: #feebc9;
}

.text-hover-orange-light-7:hover {
  color: #fabd4c;
}

.bg-orange-light-7 {
  background-color: #feebc9;
}

.bg-hover-orange-light-7:hover {
  background-color: #fabd4c;
}

.text-orange-light-8 {
  color: #fef2db;
}

.text-hover-orange-light-8:hover {
  color: #fabd4c;
}

.bg-orange-light-8 {
  background-color: #fef2db;
}

.bg-hover-orange-light-8:hover {
  background-color: #fabd4c;
}

.text-orange-light-9 {
  color: #fff8ed;
}

.text-hover-orange-light-9:hover {
  color: #fabd4c;
}

.bg-orange-light-9 {
  background-color: #fff8ed;
}

.bg-hover-orange-light-9:hover {
  background-color: #fabd4c;
}

.text-orange-dark-1 {
  color: #e1aa44;
}

.bg-orange-dark-1 {
  background-color: #e1aa44;
}

.text-orange-dark-2 {
  color: #c8973d;
}

.bg-orange-dark-2 {
  background-color: #c8973d;
}

.text-orange-dark-3 {
  color: #af8435;
}

.bg-orange-dark-3 {
  background-color: #af8435;
}

.text-orange-dark-4 {
  color: #96712e;
}

.bg-orange-dark-4 {
  background-color: #96712e;
}

.text-orange-dark-5 {
  color: #7d5f26;
}

.bg-orange-dark-5 {
  background-color: #7d5f26;
}

.text-orange-dark-6 {
  color: #644c1e;
}

.bg-orange-dark-6 {
  background-color: #644c1e;
}

.text-orange-dark-7 {
  color: #4b3917;
}

.bg-orange-dark-7 {
  background-color: #4b3917;
}

.text-orange-dark-8 {
  color: #32260f;
}

.bg-orange-dark-8 {
  background-color: #32260f;
}

.text-orange-dark-9 {
  color: #191308;
}

.bg-orange-dark-9 {
  background-color: #191308;
}

.text-pink {
  color: pink;
  transition: 0.3s;
}

.text-hover-pink:hover {
  color: pink;
}

.bg-pink {
  background-color: pink;
}

.bg-hover-pink:hover {
  background-color: pink;
}

.text-pink-light-1 {
  color: #ffc6d0;
}

.text-hover-pink-light-1:hover {
  color: pink;
}

.bg-pink-light-1 {
  background-color: #ffc6d0;
}

.bg-hover-pink-light-1:hover {
  background-color: pink;
}

.text-pink-light-2 {
  color: #ffcdd5;
}

.text-hover-pink-light-2:hover {
  color: pink;
}

.bg-pink-light-2 {
  background-color: #ffcdd5;
}

.bg-hover-pink-light-2:hover {
  background-color: pink;
}

.text-pink-light-3 {
  color: #ffd3db;
}

.text-hover-pink-light-3:hover {
  color: pink;
}

.bg-pink-light-3 {
  background-color: #ffd3db;
}

.bg-hover-pink-light-3:hover {
  background-color: pink;
}

.text-pink-light-4 {
  color: #ffd9e0;
}

.text-hover-pink-light-4:hover {
  color: pink;
}

.bg-pink-light-4 {
  background-color: #ffd9e0;
}

.bg-hover-pink-light-4:hover {
  background-color: pink;
}

.text-pink-light-5 {
  color: #ffe0e5;
}

.text-hover-pink-light-5:hover {
  color: pink;
}

.bg-pink-light-5 {
  background-color: #ffe0e5;
}

.bg-hover-pink-light-5:hover {
  background-color: pink;
}

.text-pink-light-6 {
  color: #ffe6ea;
}

.text-hover-pink-light-6:hover {
  color: pink;
}

.bg-pink-light-6 {
  background-color: #ffe6ea;
}

.bg-hover-pink-light-6:hover {
  background-color: pink;
}

.text-pink-light-7 {
  color: #ffecef;
}

.text-hover-pink-light-7:hover {
  color: pink;
}

.bg-pink-light-7 {
  background-color: #ffecef;
}

.bg-hover-pink-light-7:hover {
  background-color: pink;
}

.text-pink-light-8 {
  color: #fff2f5;
}

.text-hover-pink-light-8:hover {
  color: pink;
}

.bg-pink-light-8 {
  background-color: #fff2f5;
}

.bg-hover-pink-light-8:hover {
  background-color: pink;
}

.text-pink-light-9 {
  color: #fff9fa;
}

.text-hover-pink-light-9:hover {
  color: pink;
}

.bg-pink-light-9 {
  background-color: #fff9fa;
}

.bg-hover-pink-light-9:hover {
  background-color: pink;
}

.text-pink-dark-1 {
  color: #e6adb7;
}

.bg-pink-dark-1 {
  background-color: #e6adb7;
}

.text-pink-dark-2 {
  color: #cc9aa2;
}

.bg-pink-dark-2 {
  background-color: #cc9aa2;
}

.text-pink-dark-3 {
  color: #b3868e;
}

.bg-pink-dark-3 {
  background-color: #b3868e;
}

.text-pink-dark-4 {
  color: #99737a;
}

.bg-pink-dark-4 {
  background-color: #99737a;
}

.text-pink-dark-5 {
  color: #806066;
}

.bg-pink-dark-5 {
  background-color: #806066;
}

.text-pink-dark-6 {
  color: #664d51;
}

.bg-pink-dark-6 {
  background-color: #664d51;
}

.text-pink-dark-7 {
  color: #4d3a3d;
}

.bg-pink-dark-7 {
  background-color: #4d3a3d;
}

.text-pink-dark-8 {
  color: #332629;
}

.bg-pink-dark-8 {
  background-color: #332629;
}

.text-pink-dark-9 {
  color: #1a1314;
}

.bg-pink-dark-9 {
  background-color: #1a1314;
}

.text-purple {
  color: #ca4aca;
  transition: 0.3s;
}

.text-hover-purple:hover {
  color: #ca4aca;
}

.bg-purple {
  background-color: #ca4aca;
}

.bg-hover-purple:hover {
  background-color: #ca4aca;
}

.text-purple-light-1 {
  color: #cf5ccf;
}

.text-hover-purple-light-1:hover {
  color: #ca4aca;
}

.bg-purple-light-1 {
  background-color: #cf5ccf;
}

.bg-hover-purple-light-1:hover {
  background-color: #ca4aca;
}

.text-purple-light-2 {
  color: #d56ed5;
}

.text-hover-purple-light-2:hover {
  color: #ca4aca;
}

.bg-purple-light-2 {
  background-color: #d56ed5;
}

.bg-hover-purple-light-2:hover {
  background-color: #ca4aca;
}

.text-purple-light-3 {
  color: #da80da;
}

.text-hover-purple-light-3:hover {
  color: #ca4aca;
}

.bg-purple-light-3 {
  background-color: #da80da;
}

.bg-hover-purple-light-3:hover {
  background-color: #ca4aca;
}

.text-purple-light-4 {
  color: #df92df;
}

.text-hover-purple-light-4:hover {
  color: #ca4aca;
}

.bg-purple-light-4 {
  background-color: #df92df;
}

.bg-hover-purple-light-4:hover {
  background-color: #ca4aca;
}

.text-purple-light-5 {
  color: #e5a5e5;
}

.text-hover-purple-light-5:hover {
  color: #ca4aca;
}

.bg-purple-light-5 {
  background-color: #e5a5e5;
}

.bg-hover-purple-light-5:hover {
  background-color: #ca4aca;
}

.text-purple-light-6 {
  color: #eab7ea;
}

.text-hover-purple-light-6:hover {
  color: #ca4aca;
}

.bg-purple-light-6 {
  background-color: #eab7ea;
}

.bg-hover-purple-light-6:hover {
  background-color: #ca4aca;
}

.text-purple-light-7 {
  color: #efc9ef;
}

.text-hover-purple-light-7:hover {
  color: #ca4aca;
}

.bg-purple-light-7 {
  background-color: #efc9ef;
}

.bg-hover-purple-light-7:hover {
  background-color: #ca4aca;
}

.text-purple-light-8 {
  color: #f4dbf4;
}

.text-hover-purple-light-8:hover {
  color: #ca4aca;
}

.bg-purple-light-8 {
  background-color: #f4dbf4;
}

.bg-hover-purple-light-8:hover {
  background-color: #ca4aca;
}

.text-purple-light-9 {
  color: #faedfa;
}

.text-hover-purple-light-9:hover {
  color: #ca4aca;
}

.bg-purple-light-9 {
  background-color: #faedfa;
}

.bg-hover-purple-light-9:hover {
  background-color: #ca4aca;
}

.text-purple-dark-1 {
  color: #b643b6;
}

.bg-purple-dark-1 {
  background-color: #b643b6;
}

.text-purple-dark-2 {
  color: #a23ba2;
}

.bg-purple-dark-2 {
  background-color: #a23ba2;
}

.text-purple-dark-3 {
  color: #8d348d;
}

.bg-purple-dark-3 {
  background-color: #8d348d;
}

.text-purple-dark-4 {
  color: #792c79;
}

.bg-purple-dark-4 {
  background-color: #792c79;
}

.text-purple-dark-5 {
  color: #652565;
}

.bg-purple-dark-5 {
  background-color: #652565;
}

.text-purple-dark-6 {
  color: #511e51;
}

.bg-purple-dark-6 {
  background-color: #511e51;
}

.text-purple-dark-7 {
  color: #3d163d;
}

.bg-purple-dark-7 {
  background-color: #3d163d;
}

.text-purple-dark-8 {
  color: #280f28;
}

.bg-purple-dark-8 {
  background-color: #280f28;
}

.text-purple-dark-9 {
  color: #140714;
}

.bg-purple-dark-9 {
  background-color: #140714;
}

.text-gray {
  color: #a5a5a5;
  transition: 0.3s;
}

.text-hover-gray:hover {
  color: #a5a5a5;
}

.bg-gray {
  background-color: #a5a5a5;
}

.bg-hover-gray:hover {
  background-color: #a5a5a5;
}

.text-gray-light-1 {
  color: #aeaeae;
}

.text-hover-gray-light-1:hover {
  color: #a5a5a5;
}

.bg-gray-light-1 {
  background-color: #aeaeae;
}

.bg-hover-gray-light-1:hover {
  background-color: #a5a5a5;
}

.text-gray-light-2 {
  color: #b7b7b7;
}

.text-hover-gray-light-2:hover {
  color: #a5a5a5;
}

.bg-gray-light-2 {
  background-color: #b7b7b7;
}

.bg-hover-gray-light-2:hover {
  background-color: #a5a5a5;
}

.text-gray-light-3 {
  color: silver;
}

.text-hover-gray-light-3:hover {
  color: #a5a5a5;
}

.bg-gray-light-3 {
  background-color: silver;
}

.bg-hover-gray-light-3:hover {
  background-color: #a5a5a5;
}

.text-gray-light-4 {
  color: #c9c9c9;
}

.text-hover-gray-light-4:hover {
  color: #a5a5a5;
}

.bg-gray-light-4 {
  background-color: #c9c9c9;
}

.bg-hover-gray-light-4:hover {
  background-color: #a5a5a5;
}

.text-gray-light-5 {
  color: #d2d2d2;
}

.text-hover-gray-light-5:hover {
  color: #a5a5a5;
}

.bg-gray-light-5 {
  background-color: #d2d2d2;
}

.bg-hover-gray-light-5:hover {
  background-color: #a5a5a5;
}

.text-gray-light-6 {
  color: #dbdbdb;
}

.text-hover-gray-light-6:hover {
  color: #a5a5a5;
}

.bg-gray-light-6 {
  background-color: #dbdbdb;
}

.bg-hover-gray-light-6:hover {
  background-color: #a5a5a5;
}

.text-gray-light-7 {
  color: #e4e4e4;
}

.text-hover-gray-light-7:hover {
  color: #a5a5a5;
}

.bg-gray-light-7 {
  background-color: #e4e4e4;
}

.bg-hover-gray-light-7:hover {
  background-color: #a5a5a5;
}

.text-gray-light-8 {
  color: #ededed;
}

.text-hover-gray-light-8:hover {
  color: #a5a5a5;
}

.bg-gray-light-8 {
  background-color: #ededed;
}

.bg-hover-gray-light-8:hover {
  background-color: #a5a5a5;
}

.text-gray-light-9 {
  color: #f6f6f6;
}

.text-hover-gray-light-9:hover {
  color: #a5a5a5;
}

.bg-gray-light-9 {
  background-color: #f6f6f6;
}

.bg-hover-gray-light-9:hover {
  background-color: #a5a5a5;
}

.text-gray-dark-1 {
  color: #959595;
}

.bg-gray-dark-1 {
  background-color: #959595;
}

.text-gray-dark-2 {
  color: #848484;
}

.bg-gray-dark-2 {
  background-color: #848484;
}

.text-gray-dark-3 {
  color: #747474;
}

.bg-gray-dark-3 {
  background-color: #747474;
}

.text-gray-dark-4 {
  color: #636363;
}

.bg-gray-dark-4 {
  background-color: #636363;
}

.text-gray-dark-5 {
  color: #535353;
}

.bg-gray-dark-5 {
  background-color: #535353;
}

.text-gray-dark-6 {
  color: #424242;
}

.bg-gray-dark-6 {
  background-color: #424242;
}

.text-gray-dark-7 {
  color: #323232;
}

.bg-gray-dark-7 {
  background-color: #323232;
}

.text-gray-dark-8 {
  color: #212121;
}

.bg-gray-dark-8 {
  background-color: #212121;
}

.text-gray-dark-9 {
  color: #111111;
}

.bg-gray-dark-9 {
  background-color: #111111;
}

.text-white {
  color: white;
  transition: 0.3s;
}

.text-hover-white:hover {
  color: white;
}

.bg-white {
  background-color: white;
}

.bg-hover-white:hover {
  background-color: white;
}

.text-black {
  color: black;
  transition: 0.3s;
}

.text-hover-black:hover {
  color: black;
}

.bg-black {
  background-color: black;
}

.bg-hover-black:hover {
  background-color: black;
}

.card {
  display: block;
  border-radius: 5px;
  background-color: #f5eded;
  color: #333333;
  box-shadow: 1px 1px 5px rgba(41, 41, 41, 0.24);
  padding: 10px;
}
.card .card-title {
  font-size: 1.5rem;
  font-weight: bold;
}
.card .card-body {
  font-size: 1rem;
}
.card .card-body a {
  color: #740303;
  text-decoration: underline;
}

h1 {
  color: #333333;
}